.container-speaker
  .crop-speaker-photo
    %img.speaker-photo{ src: "#{photourl}", alt: "Gitlab speaker photo jpg" }
  %h4.speaker-name= name
  %h5.speaker-title= title
  %p.speaker-company= company
